@media (max-width: 576px) {
    /* LOGIN VIEW CONTAINER */
    .div-login-view-container + .div-notification-modal-container {
        width: 48rem;
        max-width: calc(100% - 3.2rem);
        padding: 0;
    }

    .div-login-view-container + .active.div-notification-modal-container {
        top: 1.6rem;
    }
}
